/* home
-----------------------------------------------*/

#welcome {
  padding-top: 20px;
  padding-left: 10px;
}

/* hides welcome message*/
.hide {
  display: none;
}

/* emplyee details
-----------------------------------------------*/

/* headshot */
#head-shot img {
  float: left;
  margin-right: 10px;
}
.clr {
  clear: both;
}